#topNavBar {
   padding: 45vh 12vw 45vh 12vw;
   transition:0.5s;
   background-color: rgb(27, 27, 27);
}

#NavName{
    font-size:18vmin;
    transition:0.5s;
}

#NavOptions {
    font-size:3.2vmin;
    transition:0.5s;
}


.nav {
    font-size:2vmin;
}

.navbar{
    /*padding:15px 10px 0px 10px;*/
}

/* .navbar-brand{
    font-size:40px;
} */

.topBlankspace{
    padding-top: 90vh;
}

.betweenBlankspace{
    padding-top: 60vh;
}

.pageBlankspace{
    padding-top:10vh;
}

.blankspace{
    padding-top:3vh;
}

.title-element{
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:6vh;
    font-weight:bold;
    text-align: center;
    /* padding: 10px 0px 10px 50px; */
    padding: 1vh 0vh 1vh 30vw;
    width: 55vw;
    height: 10vh;
    transform: translate(-80vw);
    transition:0.5s;
}

.subtitle-element{
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:6vh;
    /* font-weight:bold; */
    text-align: center;
    /* padding: 10px 0px 10px 50px; */
    padding: 1vh 0vh 1vh 30vw;
    width: 50vw;
    height: 10vh;
    transform: translate(-80vw);
    transition:0.5s;
}

.logo-element{
    border-radius: 2.5vh;
    border:.75vh solid black;
    color:white;
    text-align: center;
    padding: 0px 0px 0px 0vh;
    width: 65vw;
    height: 17.5vh;
    transform: translate(-80vw);
    transition:0.5s;
}

#uwaterlooLogo{
    display:block;
    width:25vw;
    margin-left:40vw;
    padding-top:0%;
    margin-top:-15vh;
}

#onsemiLogo{
    display:block;
    width:25vw;
    margin-left:37vw;
    padding-top:0%;
    margin-top:-15vh;
}

#upchainLogo{
    display:block;
    width:25vw;
    margin-left:37vw;
    padding-top:0%;
    margin-top:-10vh;
}

#cienaLogo{
    display:block;
    width:40%;
    margin-left:25%;
    padding-top:0%;
    margin-top:0.5%;
}

.description-element{
    border-radius: 2.5vh;
    background-color: black;
    color:white;
    font-size:2.2vh;
    padding: 2vh 0px 0px 20vw;
    width: 60vw;
    height: 7.5vh;
    transform: translate(-80vw);
    transition:0.5s;
}






.grey-container {
    background-color: rgb(129, 129, 129);
    padding-top: 5%;
    padding-bottom: 0.1%;
    color: rgb(90, 90, 90);
}


.white-container {
    background-color: rgb(165, 165, 165);
    /* padding-top: 50px; */
    color: rgb(117, 117, 117);
}

#titles{
    padding:2% 0% 2% 5%;
    font-weight:bold;
    background-color: whitesmoke;
    color:#646464;
    transform:scaleY(0);
    transition:0.5s;
}


#subtitles {
    padding-right: 10%;
    padding-left: 1%;
    font-weight: bold;
    
}



h3{
    font-weight: bold;
}

#contents {
    padding: 0px 10% 50% 5%;
    font-size: x-large;
    color: black;
    

}

.right-panel{
    background-color:black;
    padding: 10% 0% 1000% 0%;
}

#centered{
    display: block;
    width:30%;
    margin-left:35%;
    padding-top:30%;
    padding-bottom:5%;
    margin-top:-35%;
}