#topNavBar {
   padding: 45vh 12vw 45vh 12vw;
   transition:0.5s;
   background-color: rgb(27, 27, 27);
}

#NavName{
    font-size:18vmin;
    transition:0.5s;
}

#NavOptions {
    font-size:3.2vmin;
    transition:0.5s;
}

.nav {
    font-size:2vmin;
}

.topBlankspace{
    padding-top: 90vh;
}

.betweenBlankspace{
    padding-top: 60vh;
}

.pageBlankspace{
    padding-top:10vh;
}

.elementBlankspace{
    padding-top:5vh;
}

.blankspace{
    padding-top:3vh;
}

.smallBlankspace{
    padding-top:1vh;
}

.horizBlankspace{
    padding-left:10vw;
}

.title-element{
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:6vh;
    font-weight:bold;
    text-align: center;
    /* padding: 10px 0px 10px 50px; */
    padding: 1vh 0vh 1vh 30vw;
    width: 55vw;
    height: 10vh;
    transform: translate(-80vw);
    transition:0.5s;
}

.name-element{
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:8vh;
    font-weight:bold;
    text-align: center;
    /* padding: 1vh 0px 1vh 20vw; */
    padding: 2vh 0vh 1vh 30vw;
    width: 52vw;
    /* height:10vh; */height:15vh;
    /* transform: translate(-80vw); */
    transform: translate(-15vw);
    transition:0.5s;
}

#portrait{
    display: block;
    width:9vw;
    margin-left:38.7vw;
    padding-top:0vh;
    padding-bottom:0vh;
    margin-top:-14vh;
}

.subtitle-element{
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:6vh;
    /* font-weight:bold; */
    text-align: center;
    /* padding: 1vh 0px 1vh 20vw; */
    padding: 0vh 0vh 1vh 30vw;
    width: 45vw;
    /* height:10vh; */height:8vh;
    transform: translate(-80vw);
    transition:0.5s;
}

.logo-element{
    position:relative;
    z-index:999;
    border-radius: 2.5vh;
    border:.75vh solid black;
    color:white;
    text-align: center;
    padding: 0px 0px 0px 0vh;
    /* width: 65vw; */width: 50vw;
    /* height: 17.5vh; */ height: 15vh;
    /* transform: translate(-80vw); */
    transform: translate(-15vw);
    transition:0.5s;
}

#uwaterlooLogo{
    display:block;
    width:17vw;
    margin-left:31.5vw;
    padding-top:0%;
    margin-top:-11vh;
}

#onsemiLogo{
    display:block;
    width:17vw;
    margin-left:31.5vw;
    padding-top:0%;
    margin-top:-10.5vh;
}

#upchainLogo{
    display:block;
    /* width:25vw; */width:17vw;
    /* margin-left:37vw; */margin-left:31.5vw;
    padding-top:0%;
    /* margin-top:-10vh; */margin-top:-7vh;
}

#cienaLogo{
    display:block;
    /* width:17vw; */width:12vw;
    /* margin-left:40vw; */margin-left:34vw;
    padding-top:0%;
    /* margin-top:-12vh; */margin-top:-9vh;
}

.description-element{
    border-radius: 2.5vh;
    background-color: black;
    color:white;
    font-size:2.5vh;
    padding: 2vh 0px 0px 20vw;
    width: 60vw;
    height: 7.5vh;
    transform: translate(-80vw);
    /* transform: translate(-15vw); */
    transition:0.5s;
}

.projectName-element{
    position:relative;
    z-index:2;
    border-radius: 2.5vh;
    background: #000000;
    color:white;
    font-size:6vh;
    font-weight:bold;
    text-align: center;
    /* padding: 1vh 0px 1vh 20vw; */
    padding: 5vh 0vh 1vh 30vw;
    width: 50vw;
    /* height:10vh; */height:18.5vh;
    /* transform: translate(-80vw); */
    transform: translate(-15vw);
    transition:0.5s;
    /* transform:translateY(-19vh); */
}

.project-element{
    border-radius: 2.5vh;
    background: #44444475;
    color:white;
    font-size:1vh;
    /* font-weight:bold; */
    text-align: center;
    /* padding: 1vh 0px 1vh 20vw; */
    padding: 0vh 0vh 1vh 15vw;
    width: 72vw;
    height:17vh;
    /* transform: translate(-80vw);*/transform: translate(-15vw);  
    transition:0.5s;
    transform: translateY(-17.5vh);
}

#unityPic{

}

.right-panel{
    background-color:black;
    padding: 10% 0% 1000% 0%;
}

#myCarousel{
    padding:2vh;
}

.code_icons{
    padding: 0vh 10.5vw 0vh 10.5vw;
    
}

.CAD_icons{
    padding:5vh 3vw 0vh 3vw;
}
